@import '@/assets/scss/define';

.pro-cell {
  @extend %df;
  @extend %aic;
  @extend %ma;
  @extend %bsb;
  @extend %c3;
  width: j(343);
  padding: j(14) j(16);
  background-color: #fff;
  border-radius: j(12);
  font-size: j(16);
  min-height: j(24 + 14 + 14);
  margin-bottom: j(10);
  .icon-arrow {
    @extend %cc;
    margin-left: j(6);
  }
  &.is-arrow {
    @extend %ats;
  }
}
.pro-cell-icon {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  @extend %c6;
  font-size: j(24);
  width: j(24);
  height: j(24);
  margin-right: j(12);
}
.pro-cell-value {
  @extend %df1;
  @extend %tar;
  @extend %c9;
}
